.header768 {
  display: none;
}
.group768 {
  display: none;
}
.big-container {
  display: none;
}
.gray-adv {
  display: none;
}
.about-lookshop {
  display: none;
}
.footer768 {
  display: none;
}
.wrap-update {
  display: none;
}
.menu-wrap768 {
  display: none;
}
.shopping-wrap768 {
  display: none;
}
.box-top {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
}
.btn-add {
  width: 221px;
  line-height: 60px;
  background-color: #fd926d;
  border-bottom: 7px solid #dd6b44;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: content-box;
  margin: 16px auto;
}
.btn-black {
  width: 221px;
  line-height: 60px;
  background-color: black;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}
.logo-wrapp {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  line-height: 200px;
}
.logo-box.icon {
  height: 200px;
  background-color: #ffffff;
}
.cart-icon.icon {
  width: 58px;
  height: 50px;
  background-position: -1px -107px;
  float: left;
  margin: 30px;
}
.container-cash {
  float: right;
}
.zero-items:after {
  content: "";
  border-right: 2px solid #949393;
  padding-right: 10px;
  height: 28px;
}
.inline1 {
  display: inline-block;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(../img/sprite.png);
}
.logo-box.icon {
  width: 386px;
  height: 108px;
  background-position: -14px -327px;
}
.right-menu-icon.icon {
  width: 49px;
  height: 34px;
  background-position: 1px -175px;
  float: right;
  margin-top: 43px;
}
.left-menu .peach-wrap {
  background-color: #fd926d;
  height: 796px;
}
.icon-plus.icon {
  width: 50px;
  height: 50px;
  background-position: -1px -210px;
}
.dark-peach-wrap {
  height: 87px;
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  color: #ffffff;
  background-color: #f4845d;
}
.left-whats {
  float: left;
}
.right-arrow {
  float: right;
}
.clothing-wrap {
  display: inline-block;
  margin: 20px;
  margin-bottom: 30px;
}
.peach-wrap-white {
  background-color: #ffffff;
  height: 825px;
}
.left-side {
  width: 223px;
  float: left;
  margin-top: 106px;
}
.right-side {
  width: 223px;
  float: right;
  margin-top: 106px;
}
.sale-icon.icon {
  width: 161px;
  height: 171px;
  background-position: -159px -463px;
}
.container-sale {
  display: inline-block;
}
.box-clothing {
  width: 272px;
  height: 368px;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.hover-wrap {
  background-color: #f7f7f7;
  width: 272px;
  height: 165px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  margin-top: -5px;
}
.title {
  font-size: 18px;
  margin-bottom: 20px;
}
.sub-title {
  font-size: 27.5px;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 640px;
  min-width: 100%;
  margin: 0 auto;
  font-family: "Arial";
}
header {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
}
.info-wrap {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  background-color: black;
}
.item-us {
  float: left;
  margin-right: 10px;
}
.item-search {
  float: right;
}
.inline {
  display: inline-block;
  margin-right: 14.38461538%;
}
.item-search:last-child {
  margin-right: 0px;
}
.shopping-wrap {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  border: 1px solid #d6d6d6;
  color: #949393;
  background-color: #fafafa;
  margin-bottom: 23px;
  padding-right: 10px;
}
.menu-wrap {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  background-color: #fd926d;
  color: #ffffff;
  margin-bottom: 23px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  vertical-align: middle;
}
.left-menu {
  float: left;
}
.right-menu-picture {
  float: right;
}
.email-wrap {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  background-color: #ededed;
  color: #9f9f9f;
  font-style: italic;
  text-transform: none;
  padding: 0px;
  margin-bottom: 23px;
}
.email-text {
  float: left;
}
.peach-square {
  width: 96px;
  background-color: #fd926d;
  float: right;
  line-height: 97px;
  border-bottom: 7px solid #dd6b44;
}
footer {
  line-height: 97px;
  padding: 10px;
  background-color: #ffffff;
  color: #838383;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 1%;
  height: 106px;
  background-color: black;
}
.message-footer-icon.icon {
  width: 217px;
  height: 58px;
  background-position: -26px -686px;
  float: right;
  margin-top: 20px;
}
.menu-footer-icon.icon {
  width: 49px;
  height: 34px;
  background-position: 1px -175px;
  float: left;
  margin-top: 30px;
}
.dark-peach-wrap {
  position: relative;
}
.dropdown-arrow:after {
  content: '';
  position: absolute;
  top: 53px;
  right: 0;
  margin-left: 13px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: #ffffff;
  margin-right: 30px;
}
.square {
  width: 87px;
  height: 87px;
  display: inline-block;
}
.gray-square {
  width: 87px;
  height: 87px;
  display: inline-block;
  background-color: #f7f7f7;
}
.dark-gray-square {
  width: 87px;
  height: 87px;
  display: inline-block;
  background-color: #ededed;
}
.text-square {
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  margin: 50px;
  color: #6c6c6c;
}
.fb-icon.icon {
  width: 19px;
  height: 35px;
  background-position: -36px -436px;
  padding: 10;
  margin: 22px 37px;
}
.twit-icon.icon {
  width: 36px;
  height: 35px;
  background-position: -69px -436px;
  margin: 22px 31px;
}
.mail-icon.icon {
  width: 36px;
  height: 35px;
  background-position: -120px -441px;
  margin: 22px 31px;
}
a {
  color: white;
}
@media screen and (min-width: 768px) {
  header {
    display: none;
  }
  .header768 {
    display: block;
    line-height: 97px;
    padding: 10px;
    background-color: #ffffff;
    color: #838383;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 1%;
    line-height: 29px;
    background-color: black;
    color: #ffffff;
    font-size: 12px;
  }
  .custom-care {
    float: left;
    margin-right: 5px;
  }
  .info-wrap768 {
    float: right;
  }
  .icon-search.icon {
    width: 20px;
    height: 20px;
    background-position: -62px -20px;
  }
  .info-wrap {
    display: none;
  }
  .logo-wrapp {
    display: none;
  }
  .shopping-wrap768 {
    display: block;
  }
  .logo-wrapp768 {
    line-height: 97px;
    padding: 10px;
    background-color: #ffffff;
    color: #838383;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 1%;
    height: 105px;
  }
  .logo-icon.icon {
    width: 124px;
    height: 25px;
    background-position: -384px -19px;
    float: left;
  }
  .shopping-wrap {
    display: none;
  }
  .container-cash {
    display: none;
  }
  .shopping-wrap768 {
    width: 215px;
    line-height: 33px;
    border: 1px solid #d6d6d6;
    float: right;
  }
  .card {
    font-size: 12px;
    color: #949393;
    float: left;
    padding: 5px;
    position: relative;
  }
  .dropdown-arrow768:after {
    content: '';
    position: absolute;
    top: 92px;
    right: 0;
    margin-left: 13px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top-color: #c1c1c1;
    margin-right: 40px;
  }
  .icon-bag.icon {
    width: 24px;
    height: 20px;
    background-position: -58px -68px;
    float: left;
    margin: 11px;
  }
  .container-cash768 {
    font-size: 11px;
    color: #949393;
    float: right;
  }
  .cash {
    padding: 5px;
  }
  .menu-wrap {
    display: none;
  }
  .menu-wrap768 {
    line-height: 97px;
    padding: 10px;
    background-color: #ffffff;
    color: #838383;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 1%;
    background-color: #fd926d;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 50px;
    padding: 0px;
  }
  .menu-icon768 {
    width: 49px;
    height: 34px;
    background-position: 1px -175px;
    float: right;
    /* margin-top: 43px; */
    margin: 17px;
  }
  .left-menu768 {
    padding: 10px;
    float: left;
  }
  .wrap-update {
    line-height: 97px;
    padding: 10px;
    background-color: #ffffff;
    color: #838383;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 1%;
    height: 56px;
    background-color: #ededed;
  }
  .text-update {
    float: left;
    margin-right: 10px;
  }
  .email-wrap768 {
    width: 156px;
    line-height: 30px;
    background-color: #ffffff;
  }
  .group768 {
    display: block;
  }
  .about-lookshop {
    height: 180px;
    background-color: #ffffff;
    text-align: center;
  }
  h1 {
    font-size: 24px;
    color: #414141;
  }
  .text-about {
    font-size: 14px;
    color: #999999;
    text-align: justify;
  }
  .gray-adv {
    height: 406px;
    background-color: #ededed;
    padding-top: 5px;
  }
  .mastercard-wrap {
    margin-top: 15px;
    line-height: 59px;
    background-color: #f7f7f7;
    text-align: center;
  }
  .text-card {
    font-size: 12px;
    color: #414141;
    display: inline-block;
    margin-right: 15px;
  }
  .icon-mastercard.icon {
    width: 489px;
    height: 32px;
    background-position: -18px -294px;
  }
  .footer768 {
    height: 75px;
    background-color: black;
    margin: 0px;
  }
  .border-right {
    border-right: 1px solid #8d8d8d;
    padding-right: 9px;
    font-size: 11px;
    color: #8d8d8d;
  }
  .icon-tm.icon {
    width: 108px;
    height: 31px;
    background-position: -368px -61px;
    margin-left: 60px;
  }
  h2 {
    color: #544f4d;
    font-size: 16px;
    font-weight: bold;
  }
  .social-icons.icon {
    width: 130px;
    height: 84px;
    background-position: -383px -104px;
  }
  .customer,
  .information,
  .social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
  .social {
    margin-left: 60px;
    margin-top: -40px;
  }
  li {
    list-style-type: none;
  }
  li a {
    color: #544f4d;
    font-size: 12px;
  }
  ul {
    padding: 0px;
  }
  .compaigns,
  .stores {
    display: inline-block;
    margin-left: 20px;
  }
  .stores {
    margin-left: 30px;
  }
  .icon.icon-star {
    width: 115px;
    height: 115px;
    background-position: -393px -495px;
    margin-left: 54px;
  }
  .header768 {
    display: block;
  }
  .group768 {
    display: block;
  }
  .big-container {
    display: block;
  }
  .gray-adv {
    display: block;
  }
  .about-lookshop {
    display: block;
  }
  .footer768 {
    display: block;
  }
  .wrap-update {
    display: block;
  }
  .menu-wrap768 {
    display: block;
  }
  .shopping-wrap768 {
    display: block;
  }
}
